@font-face{
    src: local("DINPro Bold"), url("../../public/assets/fonts/dinPro/DINProPLBold.otf") format("opentype");
    font-family: DinProBold;
    font-style: normal;
    font-weight: 500;
}
.lottery-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
}
.arrow{
    position: fixed;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    background-image: url("../../public/assets/Arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    right: 0;
    z-index: 10;
    top: 25%;
}
.loot-boxes{
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    box-sizing: border-box;
    margin:0 16px 0 16px;
    gap: 32px;
}
.loot-boxes::-webkit-scrollbar{
    display: none;
}
.loot-box{
    display: flex;
    background-color: #ffffff;
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: DinProBold, sans-serif;
    text-align: center;
}
.contents-wrapper{
    height: 100%;
}
.blurred{
    filter: blur(5px);
}
.loot-box div{
    color: black;
}
.loot-image-wrapper{
    padding: 20px;
    box-sizing: border-box;
}
.loot-image-wrapper img{
    height: 75%;
    width: 75%;
}
.loot-price{
    text-align: center;
    padding: 5px 0;
    margin: 10px 30px;
    border-radius: 10px;
    color: white;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.blue{
    background-color: blue
}
.start-lottery{
    margin: 40px auto;
    background-color: #f0000f;
    color: white;
    font-family: DinProBold, sans-serif;
    border: none;
    border-radius: 10px;
    padding: 24px 60px;
    transition: 0.4s;
    font-size: 26px;
    box-shadow: 0 9px #670006;
}
.start-lottery:active{
    box-shadow: 0 3px #670006;
}
.start-lottery:disabled{
    opacity: 0.7;
}
.boxScreen{
    position: absolute;
    z-index: 20;
    animation: appear;
    animation-duration: 2s;
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
